joblib==1.1.0
attrs==21.4.0
cfgv==3.3.1
jinja2==3.1.1
identify==2.4.9
nbformat==5.1.3
nbstripout==0.5.0
setuptools==57.0.0
wheel
numpy==1.21.2
pandas==1.3.5
scipy
scikit-learn==1.0.2
imbalanced-learn==0.9.0
Jupyter
lightgbm
sdv==0.13.1
mlxtend==0.19.0
researchpy==0.3.2
catboost==1.0.4
statsmodels==0.13.1
xgboost==1.5.2
pytest==7.1.2
pytest-codecov
pytest-json-report
pytest-html
feature_engine
sphinx
uci_dataset